forge/
forge-1.7.10-*
world
startup.sh
.idea
.vscode
docker-compose.yml
venv
config/forge.cfg
config/forgeChunkLoading.cfg
mods
logs
libraries
world
banned-ips.json
banned-players.json
forge-*
minecraft_server.1.12.2.jar
ops.json
twistd.log
twistd.pid
usercache.json
whitelist.json
